<!DOCTYPE html>
<html>
<head>
<title>Penguin App</title>
</head>
<body>
<h1>Penguin's Home</h1>
<p>
  Hello, we are adelie penguins.
  <a href="https://google.com/">ggrks</a>
  like twitter...
</p>
</body>
</html>