<title>User</title>
<section class="user_info">
    <%= @user.name %>, <%= @user.email %>
</section>

<% if @user.microposts.any? %>
    <h1> Microposts </h1>
    <ol class="microposts">
        <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
<% end %>